services:
#  app:
#    restart: always
#    image: sokol111/auth-service:latest
#    ports:
#      - "8080:8080"
#    depends_on:
#      - db
#    environment:
#      - DB_HOST=db
  db:
    image: mongo:latest
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    ports:
      - 27019:27017